.question {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.highscore {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 8px;
}